@import "nullstyle.scss";
@import "boxsizingBorder.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

textarea {
  width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  padding: 1rem;
  overflow: hidden;
}

.content {
  overflow: hidden;
}

.separator {
  margin: 0;
  height: 1px;
  margin-top: 1rem;
  box-shadow: 0px 0px 10px 20px
    radial-gradient(50% 20rem, rgba(0, 105, 287, 0.7) 5%, rgba(0, 0, 0, 0) 100%);
  background: radial-gradient(
    50% 30rem,
    rgba(0, 105, 287, 0.7) 5%,
    rgba(0, 0, 0, 0) 100%
  );
  position: relative;
  top: 0;
  left: -100%;
  width: 100%;
  animation: grad-rotate 5s linear infinite;
}
@keyframes grad-rotate {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

.modal {
  display: block;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: dodgerblue;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  text-align: center;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 50%;
  max-height: 500px;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-header {
  padding: 1rem;
  background-color: rgb(4, 101, 158);
  border-radius: 5px;
  color: white;
}

.modal-body {
  padding: 4rem 1rem 4rem 1rem;
}

.modal-footer {
  padding: 1rem;
  background-color: #5cb85c;
  border-radius: 5px;
  color: white;
}

.close {
  pointer-events: stroke;
  color: #aaa;
  float: right;
  position: relative;
  top: -0.5rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.container {
  max-width: 77%;
  height: auto;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  @media (max-width: 767px) {
    max-width: 89%;
  }
  @media (max-width: 541px) {
    max-width: 100%;
  }
}

.transparent_layer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &--30 {
    background-color: rgba(0, 0, 0, 0.3);
  }
  &--70 {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.ico {
  height: 2rem;
  width: 2rem;
}

.logo {
  width: 100%;
}

.banner {
  display: block;
  position: relative;
  z-index: 1;
}

.margin__banner {
  width: 100%;
  height: 3rem;
}

.banner__text {
  &--title {
    display: block;
    text-align: center;
    margin-top: 5rem;
    color: aliceblue;
    font-size: 2.5rem;
  }
  &--content {
    display: block;
    text-align: center;
    margin-top: 5rem;
    color: aliceblue;
    font-size: 1.5rem;
  }
}

.form__input {
  & input {
    text-align: start;
    width: 100%;
    height: 2rem;
  }
  & textarea {
    border-radius: 0.25rem;
  }
}

header {
  .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    &__container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0.5rem 2rem;
      .header__logo {
        flex: 0 0 8rem;
      }
      .logo_title {
        font-size: 12px;
        text-align: center;
        color: rgba(77, 77, 77, 0.678);
        font-style: italic;
        font-weight: 600;
      }
      .header__address {
        display: flex;
        justify-content: space-between;
      }
      .header__contacts {
        display: flex;
        justify-content: space-between;
        & > a > button {
          height: 100%;
        }
      }
      .header__icon {
        flex: 0 0 2rem;
        margin-right: 0.5rem;
      }
      .header__data {
        flex: 1 1 auto;
        margin-right: 0.5rem;
        @media (max-width: 640px) {
          & {
            display: none;
          }
        }
      }
      @media (max-width: 767px) {
        .button--form__recall {
          display: none;
        }
      }
    }

    &__banner {
      background: url("../../public/img/landing/ct_block_76230_image.jpg") 0 0 /
        100% 50% no-repeat fixed;
      padding: auto auto 10rem;
      box-shadow: 0px 5px 10px 0px #888;
      overflow: visible;
      & .banner__container .banner__text--title {
        text-shadow: 3px 3px 5px slategray;
      }
      & .banner__container .banner__text--content {
        text-shadow: 3px 3px 5px slategray;
      }
      .form__bg {
        background-color: rgba(0, 0, 0, 0.3);

        border-radius: 0.25rem;
        margin: 3rem 0.5rem 3rem;
        .form__row {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 1rem;

          .form__input {
            flex: 1 0 5rem;

            padding-right: 1rem;
          }
          & input,
          & textarea {
            border: 2px solid rgba(0, 0, 0, 0.61);
            border-radius: 0.25rem;
          }
          button {
            padding: 0.4rem;
          }
          @media (max-width: 666px) {
            & {
              flex-direction: column;
              align-items: center;
              .form__input {
                flex: 1 0 3rem;
                width: 100%;

                padding-right: 0;
              }
            }
          }
        }
      }
    }
  }

  .menu {
    margin-top: 1rem;
    box-shadow: 3px 10px 5px 1px #888, 0px -0px 10px 1px #888;
    width: 100%;
    background: rgba(6, 147, 227, 1);
    overflow: visible;
    &__nav {
      display: block;
      height: 100%;

      .menu__burger {
        display: none;
      }
      .nav {
        text-align: center;
        &__ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          vertical-align: middle;
          min-height: 4.5rem;
          background: rgba(6, 147, 227, 1);
          box-shadow: 0px 10px 14px -7px rgb(4, 101, 158);
        }
        &__li {
          border-radius: 0.25rem;
          position: relative;
          height: 100%;
          padding: 1vw;
          font-size: 1rem;
          box-shadow: 0px 10px 14px 0px rgb(4, 101, 158);
          & a {
            background: transparent;
            position: relative;
            top: 50%;
            color: antiquewhite;
          }
          .dropdown-btn {
            background: transparent;
            position: relative;
            top: 50%;
            color: antiquewhite;
            font-size: 1rem;
            border-radius: 0.25rem;
            &::after {
              content: "▼";
              color: antiquewhite;
            }
          }
          @media (max-width: 926px) {
            & a {
              top: 0;
            }
            .dropdown-btn {
              top: 0;
            }
          }
          .dropdown-container {
            display: none;
            border-radius: 0.25rem;
            background: rgba(6, 147, 227, 1);
            box-shadow: 3px 5px 8px -3px rgb(4, 101, 158);
            position: absolute;
            top: 100%;
            left: 30%;
            z-index: 1550;
            padding-right: 1rem;
            text-align: left;
            transition: all 300ms ease 0s;
            .dropdown__item {
              border-radius: 0.25rem;
              box-shadow: 0px 3px 5px 3px rgb(4, 101, 158);
              margin: 1rem 0.5rem 1rem;
              min-width: 10rem;
            }
            & a {
              display: block;
              background: transparent;
              color: antiquewhite;

              width: 100%;
              padding: 0.5rem;
            }
          }
          @media (max-width: 926px) {
            height: 55px;
          }
        }
      }
    }
    @media (max-width: 767px) {
      padding: 1rem 0;
      .menu__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        left: 2rem;
      }
      .menu__burger span {
        position: absolute;
        background-color: aliceblue;
        width: 100%;
        height: 2px;
        top: 10px;
        transition: all 500ms ease 0s;
      }
      .menu__burger::before,
      .menu__burger::after {
        content: "";
        background-color: aliceblue;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all 300ms ease 0s;
      }
      .menu__burger::before {
        top: 0;
      }
      .menu__burger::after {
        top: 100%;
      }
      .menu__burger.active::before {
        transform: rotate(45deg);
        top: 0.6rem;
      }
      .menu__burger.active::after {
        transform: rotate(-45deg);
        top: 0.6rem;
      }
      .menu__burger.active span {
        transform: scale(0);
      }
      .nav {
        position: absolute;

        &__ul {
          position: relative;
          top: 0.2rem;
          left: -110%;
          border-radius: 0.25rem;
          z-index: 100;
          flex-direction: column;
          width: 100%;
          height: 100%;
          padding-right: 0.2rem;
          transition: left 300ms ease 0s;
        }
        &__li {
          align-self: stretch;
          text-align: left;
          box-shadow: 0px 3px 10px -1px rgb(4, 101, 158);
          margin: 0.5rem 0.1rem 0.5rem 0.1rem;
        }
        &__ul.active {
          left: -1px;
        }
      }
    }
  }
}

input,
textarea {
  border: 2px solid rgba(0, 0, 0, 0.61);
  border-radius: 0.25rem;
}

.button {
  transition-property: background-color;
  animation-delay: 1s;
  transition-duration: 1s;
  animation-duration: 1s;
  box-shadow: 0px 10px 14px -7px rgb(4, 101, 158);
  background: linear-gradient(
    to bottom,
    rgba(6, 147, 227, 1) 5%,
    rgb(5, 125, 194) 100%
  );
  background-color: rgba(6, 147, 227, 1);
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: antiquewhite;
  padding: 0.2rem 0.4rem;
  font-size: 1.1rem;
  text-decoration: none;
  &--about,
  &--send {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
}
.button:hover {
  background: linear-gradient(
    to bottom,
    rgb(4, 96, 150) 5%,
    rgb(3, 69, 107) 100%
  );
  background-color: rgb(4, 96, 150);
}
.button:active {
  position: relative;
  top: 1px;
}

.ad_prod__container {
  visibility: visible;
  width: 100%;
  display: block;
}

.title_block {
  text-align: center;
  margin-bottom: 1rem;
  &--center {
    text-align: center;
    padding-top: 1rem;

    .title_block__h2 {
      margin: 2rem auto 2rem;
      font-size: 3rem;
    }
    .title_block__description {
      font-size: 1.5rem;
      &::after {
        content: "•••••";
        font-size: 1.5rem;
        color: rgb(165, 198, 218);
        display: block;
        text-align: center;
        letter-spacing: 0.5rem;
        line-height: 2rem;
      }
    }
    .title_block__info {
      width: 100%;
      margin: auto;
      max-width: 865px;
      height: 100%;
      &--p {
        font-size: 1.1rem;
        line-height: 1.1rem;
        font-weight: lighter;
        & img {
          float: right;
          max-width: 15rem;
        }
      }
      .title_block__btn {
        display: block;
        margin: auto;
        text-align: center;
        align-items: center;
        & > * {
          align-self: center;
          margin: auto;
        }
      }
    }
  }
  &--banner {
    color: aliceblue;
  }
}

@media (max-width: 767px) {
  .about__p__container {
    display: none;
  }
}

.item_row {
  text-align: center;
  padding-top: 1rem;
  display: block;
  &__flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
    @media (max-width: 767px) {
      & {
        justify-content: space-between;
      }
    }
    @media (max-width: 565px) {
      & {
        justify-content: center;
      }
    }
  }
  .item__no-stretch {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    max-width: 23%;
    border: 2px groove rgba(28, 110, 164, 0.1);
    border-radius: 10px;
    @media (max-width: 767px) {
      & {
        max-width: 600px;
        margin-bottom: 1rem;
      }
    }
    @media (max-width: 767px) {
      max-width: 250px;
    }
    &--adpr4 {
      border: none;
    }
    & > button {
      margin-top: auto;
      width: 100%;
    }
    & > a {
      margin-top: auto;
      & > button {
        margin-top: auto;
        width: 100%;
      }
    }
    .item__img {
      margin-bottom: 1rem;
      width: 100%;
      max-width: 600px;

      & > img {
        width: 100%;
        max-width: 600px;
      }
    }
    .item__symbol {
      margin-bottom: 1rem;
      & > * {
        font-size: 3rem;
        color: rgba(6, 147, 227, 1);
      }
    }
    .item__title {
      margin-bottom: 1rem;
      & > * {
        font-weight: bolder;
      }
    }
    .item__price {
      margin-bottom: 1rem;
      & > * {
        font-weight: bolder;
        color: darkgray;
      }
    }
    .item__description {
      padding-bottom: 1rem;
      flex: 1 1 auto;
      & > * {
        color: rgb(65, 60, 60);
      }
      &--footer {
        color: rgba(201, 207, 212, 0.801);
        @media (max-width: 767px) {
          & p {
            max-width: 10rem;
          }
        }
      }
    }
    .item__howmuch {
      font-size: 3rem;
      font-weight: 550;
      margin-bottom: 1rem;
      color: rgba(6, 147, 227, 1);
    }
  }
}

.slider__container {
  height: 100%;
}

.content_banner {
  background: url("../../public/img/landing/st_block_row_settings_135705_bg_XwhaP5oS.jpg")
    50% / cover no-repeat fixed;
  .banner__container {
    padding: 4rem;
    & > * {
      margin-top: 1.2rem;
      text-align: left;
      & > h2 {
        font-size: 2rem;
        font-weight: 800;
      }
      & > h3 {
        font-size: 1.4rem;
      }
      @media (max-width: 541px) {
        & > h3 {
          display: none;
        }
      }
    }
  }
}

.confident_policy {
  margin: 1rem auto 1rem;
  text-align: center;
  font-size: 0.77rem;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.slick-slide {
  padding: 0 0.5rem 0;
}

.slider-customers {
  min-width: 0;
  width: 100%;
  position: relative;
  padding: 0 3rem;
  margin-bottom: 1rem;
  &__item {
    display: flex;
    & img {
      max-width: 100%;
    }
    @media (max-width: 768px) {
      & img {
        min-width: 10rem;
      }
    }
  }

  & .slick-arrow {
    position: absolute;
    top: 20%;
    z-index: 10;
    font-size: 2rem;
    background: transparent;
    color: rgb(161, 161, 161);
    &.slick-prev {
      left: 0;
      padding-left: 1rem;
    }
    &.slick-next {
      right: 0;
      padding-right: 1rem;
    }
  }
  & .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 1rem;
    & li {
      list-style: none;
      &.slick-active button {
        background-color: transparent;
        border: 1px solid rgba(6, 147, 227, 1);
      }
    }
    & button {
      font-size: 0;
      width: 0.5rem;
      height: 0.5rem;
      background-color: rgba(6, 147, 227, 1);
      border-radius: 50%;
      margin: 0.2rem;
    }
  }
}

.slider-review {
  min-width: 0;
  width: 100%;
  position: relative;
  padding: 0 3rem;
  margin-bottom: 1rem;
  &__item {
    display: flex;
    & img {
      max-width: 50%;
    }
  }
  & .slick-arrow {
    position: absolute;
    top: 33%;
    z-index: 10;
    font-size: 2rem;
    background: transparent;
    color: whitesmoke;
    &.slick-prev {
      left: 0;
      padding-left: 1rem;
    }
    &.slick-next {
      right: 0;
      padding-right: 1rem;
    }
  }
  & .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 1rem;
    & li {
      list-style: none;
      &.slick-active button {
        background-color: transparent;
        border: 1px solid aliceblue;
      }
    }
    & button {
      font-size: 0;
      width: 0.5rem;
      height: 0.5rem;
      background-color: aliceblue;
      border-radius: 50%;
      margin: 0.2rem;
    }
  }
}

.review {
  border: 3px solid rgba(87, 87, 87, 0.747);
  border-radius: 0.4rem;
  text-align: center;
  color: rgba(240, 248, 255, 0.801);
  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "photo message" "photo from";
  }
  &__image {
    grid-area: photo;
    & img {
      max-width: 70%;
      max-height: 5rem;
      display: inline-block;
      border-radius: 50%;
      padding-top: 1rem;
      width: auto;
      height: auto;
    }
  }
  &__message {
    grid-area: message;
    text-align: left;
    font-style: italic;
    padding: 0.3rem;
    & p::before {
      content: '"';
    }
    & p::after {
      content: '"';
    }
  }
  &__from {
    display: inline;
    grid-area: from;
    text-align: left;
    margin: 0.5rem 0 0.5rem;
    & p {
      display: inline;
      padding: 0.3rem;
      font-weight: 600;
      &::before {
        content: " — ";
      }
    }
  }
  @media (max-width: 768px) {
    &__grid {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr auto;
      grid-template-areas: "photo from" "message message";
    }
    &__image {
      grid-area: photo;
      & img {
        min-width: 70%;
        min-height: 3rem;
        display: inline-block;
        border-radius: 50%;
        padding-top: 1rem;
        width: auto;
        height: auto;
      }
    }
    &__message {
      grid-area: message;
      text-align: left;
      font-style: italic;
      padding: 0.3rem;
      & p::before {
        content: '"';
      }
      & p::after {
        content: '"';
      }
    }
    &__from {
      display: block;
      grid-area: from;
      text-align: left;
      margin: 0.5rem 0 0.5rem;
      & p {
        display: block;
        padding: 1rem 0.3rem 0.3rem 0.3rem;
        font-weight: 600;
        &::before {
          content: " — ";
        }
      }
    }
  }
}

.feedback__form {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
  .feedback__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 11rem;
    grid-template-areas: "name phone email" "message message message";
    & > * {
      padding: 0.5rem;
    }
  }
  .grid__name {
    grid-area: name;
  }
  .grid__phone {
    grid-area: phone;
  }
  .grid__email {
    grid-area: email;
  }
  .grid__message {
    grid-area: message;
  }
}

.footer {
  background-color: black;
  &__container {
    color: aliceblue;
  }
  &__smm {
    text-align: right;
  }
  &__flexbox {
    padding: 0.5rem;
  }
  &__copyright {
    color: rgba(201, 207, 212, 0.801);
    margin: 4rem 1rem 2rem;
  }
}

.map {
  margin: 1rem 0.5rem 2rem;
  width: 100%;
  height: 20rem;
}

.fa {
  transition-property: opacity;
  transition-duration: 500ms;
  &:hover {
    opacity: 0.7;
  }
  &__body {
    font-size: 500px;
  }
  &__sm {
    padding: 0.5rem 0.5rem 1rem;
    color: #ff8f25;
  }
  &__footer {
    height: 4rem;
    width: 4rem;
  }
}
